/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
mix.lock
.envrc
.env

# Ignore assets that are produced by build tools.
/priv/static/assets/
/priv/static/uploads/

# ignore local vscode configuration
.vscode

# ignore local intellij configuration
.idea

# ignore local tests result configuration
screenshots/

# ignore db_dumps
*.sql
nohup.out


# ignore db
db/data/